force-app/main/default/flows/PersonAccount_OnCreateUpdate_CommunicationPreferences.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Clear_Call_Opt_In</name>
        <label>Clear Call Opt In</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Call_Opt_In__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Call_Opt_In_Date__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Email_Opt_In_Has_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Call_Opt_In_Date</name>
        <label>Clear Call Opt In Date</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Call_Opt_In_Date__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Call_Opt_Out_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Call_Opt_Out</name>
        <label>Clear Call Opt Out</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.PersonDoNotCall</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Call_Opt_Out_Date__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Call_Opt_Out_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Call_Opt_Out_Date</name>
        <label>Clear Call Opt Out Date</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Call_Opt_Out_Date__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Email_Opt_In_Has_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Email_Opt_In</name>
        <label>Clear Email Opt In</label>
        <locationX>50</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_Email_Opt_In_Date</name>
        <label>Clear Email Opt In Date</label>
        <locationX>314</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Email_Opt_Out_Has_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Email_Opt_Out</name>
        <label>Clear Email Opt Out</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.PersonHasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_Out_Date__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Email_Opt_Out_Has_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Email_Opt_Out_Date</name>
        <label>Clear Email Opt Out Date</label>
        <locationX>314</locationX>
        <locationY>2603</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_Out_Date__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Call_Opt_In_Date</name>
        <label>Set Call Opt In Date</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Call_Opt_In_Date__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Call_Opt_Out</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Call_Opt_Out_Date</name>
        <label>Set Call Opt Out Date</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Call_Opt_Out_Date__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Call_Opt_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Opt_In_Date</name>
        <label>Set Email Opt In Date</label>
        <locationX>50</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_In_Date__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Email_Opt_Out</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Opt_Out_Date</name>
        <label>Set Email Opt Out Date</label>
        <locationX>50</locationX>
        <locationY>2603</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Opt_Out_Date__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Email_Opt_In</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Communication_Preferences_Contradict_Error</name>
        <label>Communication Preferences Contradict Error</label>
        <locationX>248</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Call_Opt_In_Changed</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>A communication opt-in field and its corresponding opt-out field may not both be set to true.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Call_Opt_In_Changed</name>
        <label>Call Opt In Changed</label>
        <locationX>380</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Call_Opt_Out_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Call_Opt_In_Changed_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Opt_In__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Call_Opt_In__pc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Opt_In_Ticked</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Call_Opt_In_Ticked</name>
        <label>Call Opt In Ticked</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Clear_Call_Opt_In_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Call_Opt_In_Ticked_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Call_Opt_In_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Call_Opt_Out_Changed</name>
        <label>Call Opt Out Changed</label>
        <locationX>380</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Email_Opt_In_Has_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Call_Opt_Out_Changed_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonDoNotCall</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PersonDoNotCall</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Opt_Out_Ticked</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Call_Opt_Out_Ticked</name>
        <label>Call Opt Out Ticked</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Clear_Call_Opt_Out_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Call_Opt_Out_Ticked_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonDoNotCall</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Call_Opt_Out_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Communication_Preferences_Contradict</name>
        <label>Communication Preferences Contradict</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Call_Opt_In_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Communication_Preferences_Contradict_Yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR (5 AND 6 AND 7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonDoNotCall</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonDoNotCall</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonHasOptedOutOfEmail</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonHasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Communication_Preferences_Contradict_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Opt_In_Has_Changed</name>
        <label>Email Opt In Has Changed</label>
        <locationX>380</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Email_Opt_Out_Has_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Email_Opt_In_Has_Changed_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Email_Opt_In__pc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Opt_In_Ticked</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Opt_In_Ticked</name>
        <label>Email Opt In Ticked</label>
        <locationX>182</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Clear_Email_Opt_In_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Email_Opt_In_Ticked_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Opt_In__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Opt_In_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Opt_Out_Has_Changed</name>
        <label>Email Opt Out Has Changed</label>
        <locationX>380</locationX>
        <locationY>2387</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Email_Opt_Out_Has_Changed_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonHasOptedOutOfEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PersonHasOptedOutOfEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Opt_Out_Ticked</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Opt_Out_Ticked</name>
        <label>Email Opt Out Ticked</label>
        <locationX>182</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>Clear_Email_Opt_Out_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Email_Opt_Out_Ticked_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonHasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Opt_Out_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Ensures integrity of opt-in/opt-out fields</description>
    <environments>Default</environments>
    <interviewLabel>PersonAccount OnCreateUpdate CommunicationPreferences {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PersonAccount OnCreateUpdate CommunicationPreferences</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Communication_Preferences_Contradict</targetReference>
        </connector>
        <filterFormula>{!$Record.IsPersonAccount}
&amp;&amp;
(
   ISNEW() ||
   {!$Record.Call_Opt_In__pc} != {!$Record__Prior.Call_Opt_In__pc} ||
   {!$Record.PersonDoNotCall} != {!$Record__Prior.PersonDoNotCall} ||
   {!$Record.Email_Opt_In__pc} != {!$Record__Prior.Email_Opt_In__pc} ||
   {!$Record.PersonHasOptedOutOfEmail} != {!$Record__Prior.PersonHasOptedOutOfEmail}
)</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
